*{ 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body{ 
  font-family: "Poppins", sans-serif; 
  background: #0d0d0d; 
  color: #fff; 
}
.contact-section .contact-heading {
  font-size: 2.5rem;
  margin-bottom: 5rem; 
  background: linear-gradient(to right, #9b3f8a, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  animation: fadeDown 1s ease-out forwards;
  opacity: 0;
  
}

.contact-section {
  margin-top: -50px;
  text-align: center;
  padding: 6rem 1rem; 
  color: #fff;
}

.contact-section h2 {
  font-size: 2rem;
  background: linear-gradient(to right, #9b3f8a, #4b00ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Intro paragraph */
.contact-text {
  max-width: 600px;
  margin: 0 auto 2.5rem;
  font-size: 1rem;
  color: #ccc;
}

.contact-list {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  margin-left: 250px;
  padding: 50px;
  gap: 3rem; 
  margin-top: 3rem;
}

.contact-list h4 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  color: #9b3f8a;

}

.contact-list a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
}

.contact-list a:hover {
  text-decoration: underline;
  color: #c792ea;
}

.contact-form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 1rem;
}



@media (max-width: 500px) {
  .contact-section h2 {
    font-size: 1.7rem;
  }
}

