* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

.mainContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  padding: 3rem 1rem;
  z-index: 1;
  
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}


.mainContainer h2 {
  font-size: 2.5rem;
  margin-bottom: 150px;
  background: linear-gradient(to right, #9b3f8a, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeDown 1s ease-out forwards;
  opacity: 0;
  z-index: 2;
  gap: 50px;
}


.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  z-index: 2;
  margin-top: 2rem;
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 0.3s;
}

.logoContainer {
  height: 120px;
  width: 120px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  animation: popIn 0.8s ease-out forwards;
}

.logoContainer img {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logoContainer:hover {
  transform: translateY(-10px) scale(1.05);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 114, 255, 0.6);
  border-color: #0072ff;
}

.logoContainer:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px #0072ff);
}
.logohtml:hover {
  filter: drop-shadow(0 0 15px #f16529);
}
.logocss:hover {
  filter: drop-shadow(0 0 15px #2965f1);
}
.logojs:hover {
  filter: drop-shadow(0 0 15px #f7df1e);
}
.logoreact:hover {
  filter: drop-shadow(0 0 15px #61dafb);
}
.logojava:hover {
  filter: drop-shadow(0 0 15px #e76f00);
}
.logosql:hover {
  filter: drop-shadow(0 0 15px #00618a);
}

/* Animations */
@keyframes fadeUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .skills-flex {
    gap: 2.5rem;
  }

  .logoContainer {
    width: 100px;
    height: 100px;
  }

  .logoContainer img {
    width: 55px;
  }
}

@media (max-width: 480px) {
  .skills-flex {
    gap: 1.4rem;
  }

  .logoContainer {
    width: 85px;
    height: 85px;
  }

  .logoContainer img {
    width: 50px;
  }
}
